/* 圆角 */
.border {
  margin: 200px auto;
  background-color: #ba2727;
  width: 300px;
  height: 300px;
  /* 圆角 */
  /* 一个值： 四个圆角值相同 */
  /* 两个值: 第一个值为左上角与右下角，第二个值为右上角与左下角 */
  /* 三个值: 第一个值为左上角, 第二个值为右上角和左下角，第三个值为右下角 */
  /* 四个值: 第一个值为左上角，第二个值为右上角，第三个值为右下角，第四个值为左下角。 */
  border-radius: 10px 20px 30px 40px;
  /* 阴影 */
  /* 水平阴影，垂直阴影，模糊的距离，以及阴影的颜色 */
  box-shadow: 10px 20px 30px #33d0b1;
}
